@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0px;
    padding: 0px;
    display: block;
}
/* Starting the resume styles*/
#resume-section {
    padding-left: 90px;
    width: 80%;
    
}

#resume-section h1 {
    font-size: 2.5em;
}
#resume-section h2 {
    font-size: 1.2em;
}

#resume-section h3 {
    opacity: 80%;
    font-size: 1.2em;
}

#resume-section h4 {
    font-size: 1.2em;
}

 #background-mouse {
    position: absolute;
    height: 300px;
    aspect-ratio: 1;
    background: linear-gradient(90.05deg, rgb(181, 255, 211) 0.02%, rgb(209, 164, 255) 39.16%, rgb(255, 165, 175) 75.82%, rgb(255, 220, 164) 112%);
    left: 50%;
    top: 50%;
    translate: -50%, -50%;
    animation: background-mouse-animation 20s infinite;
    opacity: 40%;
    filter: blur(300px);
    z-index: 0;
}


@keyframes background-mouse-animation {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
  }

  
/* When its in a phone screen */
@media screen and (max-width: 1500px) 
{
    #background-mouse {
        display: none;
    }
}

@media (prefers-color-scheme: dark)  {
    #background-mouse {
        opacity: 20%;
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    border-radius: 50%;
    }
}